In [1]:
# Import Dependencies
import pandas as pd

In [2]:
schools_complete_csv = "Resources/schools_complete.csv"
students_complete_csv = "Resources/students_complete.csv"

In [3]:
schools_df = pd.read_csv(schools_complete_csv)
students_df = pd.read_csv(students_complete_csv)

In [4]:
schools_df.head(15)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
schools_df.shape

(15, 5)

In [6]:
schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [7]:
students_df.head(
)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
students_df.shape

(39170, 7)

In [9]:
students_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [10]:
students_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [11]:
# Merge DataFrames using school_name
pycityschools_df = pd.merge(students_df, schools_df, on="school_name")
pycityschools_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
pycityschools_df.shape

(39170, 11)

In [13]:
pycityschools_df.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [14]:
pycityschools_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [15]:
# Clean up columns
pycityschools_df = pycityschools_df.rename(columns={"student_name": "Student Name", "school_name": "School Name", "reading_score": "Reading Score","math_score": "Math Score", "gender": "Gender","grade": "Grade","type": "Type","size": "Size","budget": "Budget"})

pycityschools_df.info()

pycityschools_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   Student Name   39170 non-null  object
 2   Gender         39170 non-null  object
 3   Grade          39170 non-null  object
 4   School Name    39170 non-null  object
 5   Reading Score  39170 non-null  int64
 6   Math Score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   Type           39170 non-null  object
 9   Size           39170 non-null  int64
 10  Budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [16]:
pycityschools_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# pycityschools_df.count()
#for Reference Only

In [18]:
# Stats for Summary
# Unique Number of Schools
school_count = len(pycityschools_df["School Name"].unique())
school_count

15

In [19]:
# Total Number of Students
student_count = len(pycityschools_df["Student ID"].unique())
student_count

39170

In [20]:
# Grouped by
# groupby_school_df = pycityschools_df.groupby("School Name")
# groupby_school_df.count()

In [21]:
# # Total Budget
# grouped_budget_df["Budget"].mean()

In [22]:
schools_total_budget = schools_df['budget'].sum()
schools_total_budget

24649428

In [23]:
budget_student = schools_total_budget / student_count
budget_student

629.2935409752362

In [24]:
# Avg Math Score
# students_df['math_score'].mean()
avg_math_score = pycityschools_df['Math Score'].mean()
avg_math_score

78.98537145774827

In [25]:
# Avg Reading Score
# students_df['reading_score'].mean()
avg_reading_score = pycityschools_df['Reading Score'].mean()
avg_reading_score

81.87784018381414

In [26]:
# Students with a passing math score
passing_math = pycityschools_df.loc[pycityschools_df['Math Score']>=70]
# passing_math.count()
passing_math_count = passing_math["Student Name"].count()
passing_math_count

29370

In [27]:
# % Students passing math
pct_pass_math = passing_math_count /student_count * 100
pct_pass_math

74.9808526933878

In [28]:
# Students with a passing reading score
passing_reading = pycityschools_df.loc[pycityschools_df['Reading Score']>=70]
# passing_reading.count()
passing_reading_count = passing_reading["Student Name"].count()
passing_reading_count

33610

In [29]:
# % Students passing reading
pct_pass_reading = passing_reading_count / student_count * 100
pct_pass_reading

85.80546336482001

In [30]:
# Students passing reading AND math
pass_math_reading = pycityschools_df[(pycityschools_df["Math Score"] >= 70) & (pycityschools_df["Reading Score"] >= 70)]
pass_math_reading.head()
pass_math_reading_count = pass_math_reading["Student Name"].count()
pass_math_reading_count

25528

In [31]:
# % Students passing reading AND math
pct_pass_math_reading = pass_math_reading_count / student_count *100
pct_pass_math_reading

65.17232575950983

In [32]:
# District Summary
district_summary_df = pd.DataFrame( 
    [{"Total Schools": school_count,
     "Total Students": student_count,
     "Total Budget": schools_total_budget,
     "Average Math Score": avg_math_score,
     "Average Reading Score": avg_reading_score,
     "% Passing Math": pct_pass_math,
     "% Passing Reading": pct_pass_reading,
     "% Overall Passing": pct_pass_math_reading}])

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

#  District Summary

In [33]:
#Format Budget into $
# pycityschools_df['Budget'] = pycityschools_df['Budget'].map("${0:,.0f}".format)

# district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)
# district_summary_df

district_summary_df.style.format({'Total Students':"{:,}",'Total Budget':"${:,.2f}",'Average Math Score':"{:.1f}",
        'Average Reading Score':"{:.1f}",'% Passing Math':"{:.0f}%",'% Passing Reading':"{:.0f}%",'% Overall Passing':"{:.0f}%"})

In [34]:
# Create School list with type index
school_types = schools_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [35]:
# Total Students per School
school_size = schools_df["size"]
school_size

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [36]:
# Match up School name with size,.set_index
school_size = schools_df.set_index(["school_name"])["size"]
school_size

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [37]:
# Budget per School
school_budget = schools_df["budget"]
school_budget

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [38]:
# Match up School name with budget,.set_index
school_budget =schools_df.set_index(["school_name"])["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [39]:
# AVg Math Score per School
avg_school_mathscore = pycityschools_df.groupby(["School Name"]).mean()["Math Score"]
avg_school_mathscore

School Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Math Score, dtype: float64

In [40]:
# Avg Reading Score per school
avg_school_readingscore = pycityschools_df.groupby(["School Name"]).mean()["Reading Score"]
avg_school_readingscore

School Name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: Reading Score, dtype: float64

In [41]:
# Counts of students passing Math
math_pass_school = pycityschools_df[pycityschools_df["Math Score"]>=70]
math_pass_school.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [42]:
# Match up school name with pass counts
math_pass_school = math_pass_school.groupby(["School Name"]).count()["Student Name"]
math_pass_school

School Name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student Name, dtype: int64

In [43]:
# Calculate % Math passed per school
pct_math_pass_school = math_pass_school / school_size * 100
pct_math_pass_school

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [44]:
# Counts of students passing Reading
reading_pass_school = pycityschools_df[pycityschools_df["Reading Score"]>=70]
reading_pass_school.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [45]:
# Match up school name with pass counts
reading_pass_school = reading_pass_school.groupby(["School Name"]).count()["Student Name"]
reading_pass_school

School Name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student Name, dtype: int64

In [46]:
# Calculate % Reading passed per school
pct_reading_pass_school = reading_pass_school / school_size * 100
pct_reading_pass_school

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [47]:
# pass_math_reading_school = reading_pass_school & math_pass_school
# pass_math_reading_school.head

In [48]:
pass_math_reading_school = pycityschools_df[(pycityschools_df["Math Score"] >= 70) & (pycityschools_df["Reading Score"] >= 70)]
pass_math_reading_school.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [49]:
# Counts of students passing Reading and Math
pass_math_reading_school = pass_math_reading_school.groupby(["School Name"]).count()["Student Name"]
pass_math_reading_school

School Name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student Name, dtype: int64

In [50]:
# % of students passing Reading and Math
pct_pass_math_reading_school = pass_math_reading_school / school_size *100
pct_pass_math_reading_school

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [51]:
# School Summary
school_summary_df = pd.DataFrame( 
    {"School Type": school_types,
     "Total Students": school_size,
     "Total Budget": school_budget,
     "Average Math Score": avg_school_mathscore,
     "Average Reading Score": avg_school_readingscore,
     "% Passing Math": pct_math_pass_school,
     "% Passing Reading": pct_reading_pass_school,
     "% Overall Passing": pct_pass_math_reading_school})

school_summary_df.head()

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,83.351499,83.816757,93.392371,97.138965,90.599455

#  School Summary

In [52]:
# Final School Summary
school_summary_df.style.format({'Total Students':"{:,}",'Total Budget':"${:,.2f}",'Average Math Score':"{:.1f}",
        'Average Reading Score':"{:.1f}",'% Passing Math':"{:.0f}%",'% Passing Reading':"{:.0f}%",'% Overall Passing':"{:.0f}%"})

In [55]:
# Sort for Top 5 School List
top_five_schools_sort = school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_five_schools_sort.head()

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,83.839917,84.044699,94.594595,95.945946,90.540541

#  Top 5 Performing Schools

In [57]:
# Final Display Top % Schools Performing
top_five_schools_sort = top_five_schools_sort.iloc[0:5,:]
top_five_schools_sort

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,83.839917,84.044699,94.594595,95.945946,90.540541

In [57]:
# Final Display Top % Schools Performing
top_five_schools_sort = top_five_schools_sort.iloc[0:5,:]
top_five_schools_sort

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,83.839917,84.044699,94.594595,95.945946,90.540541

#  Worst Performing Schools - Bottom 5

In [58]:
# Sort for Bottom 5 School List
bottom_five_schools_sort = school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_five_schools_sort.head(20)

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,3124928,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,1056600,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,1049400,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,585858,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,94.133477,97.039828,91.334769

#  Math Scores by Grade

In [ ]:
# Breakout Grade Levels
ninth_graders = pycityschools_df[(pycityschools_df['Grade'] == "9th")]
tenth_graders = pycityschools_df[(pycityschools_df['Grade'] == "10th")]
eleventh_graders = pycityschools_df[(pycityschools_df['Grade'] == "11th")]
twelfth_graders = pycityschools_df[(pycityschools_df['Grade'] == "12th")]

ninth_graders.head()

In [ ]:
# Group by School for reading and math

In [ ]:
# Math Scores by Grade DF